h3 Bienvenue sur #{projectName}
p Merci de vous être inscrit à OpenGarden. Votre compte a bien été créé et votre pseudo  et e-mail sont: 
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td Pseudo:
    td #{username}
  tr
    td Email:
    td #{email}
  tr
    td Pour vous connecter:
    td #{loginURL}
p
  | Merci,
  br
  | #{projectName}
