| Bienvenue sur #{projectName}
= '\n'
= '\n'
| Merci de vous être inscrit à OpenGarden. Votre compte a bien été créé et votre pseudo  et e-mail sont: 
= '\n'
= '\n'
| Pseudo: #{username}
| Email: #{email}
= '\n'
= '\n'
| Lien de connexion: #{loginURL}
= '\n'
= '\n'
| Merci
| #{projectName}
